
STYLE.CSS
* {
    margin: 0;
    padding: 0;
}
.topbob{
 position: static;
 width: 100%;
}
body {
    background: #535353;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.container01 {
    width: 80%;
    margin: auto;

}
.contact-box1 {
    background: #fff;
    display: flex;
}
.contact-left1 {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right1 {
    flex-basis: 40%;
    padding: 40px;
    background-color: #ACACAC;
    color: #fff;
}
h1 {
    margin-bottom: 10px;
}
.container01 p {
    margin-bottom: 40px;
}
.input-row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row1 .input-group {
    flex-basis: 48%;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
    color: #000000;
}
.button1 {
    background: #434343;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left1 h3 {
    color: #1C00B5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right1 h3 {
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child {
    padding-right: 20px;
}
tr td {
    padding-top: 20px;
}